<div *ngIf="topBarActive" class="absolution" style="display: flex;"> 
  <div class="health1 health-bar-container">
    <div [ngStyle]='{width: player1Health}' class="health-bar">{{player1}}</div>
  </div> 
  <div class="title">
    <h1 style="margin: 0!important;opacity: 0.5;background-color: white;font-family: Killer;font-size: 18px;">
     IMMORTAL COMBATANTS
    </h1> 
    <button *ngIf="topBarOptionsActive" style="font-size: small;opacity: 0.5;font-weight: bolder;z-index: 3;" [innerHtml]="pauseButton" (click)="topBarOptions('PAUSE')" ></button>
    <button *ngIf="topBarOptionsActive" style="font-size: small;opacity: 0.5;font-weight: bolder;z-index: 3;" [innerHTML]="menuButton" (click)="topBarOptions('HOME')"></button>
  </div>
  <div class="health2 health-bar-container">
    <div [ngStyle]='{width: player2Health}' class="health-bar">{{player2}}</div>
  </div>             
</div>
<div *ngIf="menuActive" class="absolution">
<div style="text-align: center;">
  <h1 style="margin: 0!important;opacity: 0.8;font-size:50px;background-color: white;font-family: Killer;">IMMORTAL COMBATANTS</h1> <br>
  <span class="menuLine">Choose Your Fighters...</span> <br>
  <span>
  <select (change)="changeMenuOptions('PLAYER1',$event.target.value)" class="common-class">
    <option value="VanGuard">VanGuard</option>
    <option value="Hulk">Hulk</option>
    <option value="Lola">Lola</option>
    <option value="Mutant">Mutant</option>
    <option value="Arissa">Arissa</option>
    <option value="Pirate">Pirate</option>
    <option value="Ely">Ely</option>
  </select> 
  &nbsp;
  <select (change)="changeMenuOptions('PLAYER2',$event.target.value)" class="common-class">
    <option value="Lola">Lola</option>
    <option value="VanGuard">VanGuard</option>
    <option value="Hulk">Hulk</option>
    <option value="Arissa">Arissa</option>
    <option value="Mutant">Mutant</option>
    <option value="Pirate">Pirate</option>
    <option value="Ely">Ely</option>
  </select>
</span><br>
<button (click)="changeMenuOptions('FIGHT')" style="margin: 0!important;opacity: 0.8;font-size:40px;background-color: white;font-family: Killer;">Fight!</button>
<button (click)="changeMenuOptions('WATCH')" style="margin: 0!important;opacity: 0.8;font-size:40px;background-color: white;font-family: Killer;">Watch</button>
<br>
<button (click)="changeMenuOptions('SETTINGS')" style="margin: 0!important;opacity: 0.8;font-size:40px;background-color: white;font-family: Killer;">Settings</button>
</div>        
</div>
<div class="absolution" *ngIf="promptActive" style="top:40%;text-align: center;font-family: Killer;font-size: 75px;color: #500202;">
<span style="margin: 0!important;opacity: 0.9">{{promptMessage}}</span> 
</div>
<div  class="absolution" *ngIf="settingsActive" style="background: #000;opacity: 0.9;text-align: center;">
<span class="menuLine">Settings</span> <br>
<span style="margin: 0!important;opacity: 0.8;font-size:40px;color: white;font-family: Killer;">GRAPHICS</span>&nbsp;&nbsp;
<button (click)="changeSettings('GRAPHICS')" style="margin: 0!important;opacity: 0.8;font-size:40px;background-color: white;font-family: Killer;">{{GRAPHICS}}</button><br>
<span style="margin: 0!important;opacity: 0.8;font-size:40px;color: white;font-family: Killer;">SOUND</span>&nbsp;&nbsp;
<button (click)="changeSettings('SOUNDDOWN')"  style="margin: 0!important;opacity: 0.8;font-size:40px;background-color: white;font-family: Killer;">-</button>
<input type="number" style="margin: 0!important;opacity: 0.8;font-size:40px;max-width:50px;background-color: white;font-family: Killer;text-align: center;" [value]="SOUND_VOLUME">
<button (click)="changeSettings('SOUNDUP')" style="margin: 0!important;opacity: 0.8;font-size:40px;background-color: white;font-family: Killer;">+</button>
<br><br>
<button (click)="changeSettings('SAVE')" style="margin: 0!important;opacity: 0.8;font-size:40px;background-color: white;font-family: Killer;">Save</button>
<br>     
</div>

<div *ngIf="loaderActive" class="loader-container absolution">
<div [ngStyle]='{width: loadPercentage}' class="load-percent" [innerHtml]="loadProgress"></div>
</div>   
<div *ngIf="controlsActive" class="absolution" style="top:68%;opacity: 0.6;font-size: x-large;display: flex;
justify-content: space-between;">
<div id="JoyStick" style="left: 1%;width:30%;text-align: center;">
<!-- <button style="border-radius: 100%;width:50px;height: 50px;" (click)="controller('⇧')">⇧</button><br>
<button style="border-radius: 100%;width:50px;height: 50px;" (click)="controller('⇦')">⇦</button>&nbsp;
<button style="border-radius: 100%;width:50px;height: 50px;" (click)="controller('⇨')">⇨</button> -->
</div>
  
<div style="right: 1%;top:7%;width: 30%;text-align: center;">
<button style="width:50px;height: 50px;background-color: #FAFAFA; opacity: 0.5; border-radius: 50%;" (click)="controller('F')">∆</button>&nbsp;
<button style="width:50px;height: 50px;background-color: #FAFAFA; opacity: 0.5; border-radius: 50%;" (click)="controller('E')">Ⅹ</button>
</div>
</div>